<section class="hero-section">
    <div class="hero-container">
        <div class="hero-image">
            <img src="/img/profile.jpeg" alt="Atha Profile">
        </div>

        <div class="hero-content">
            <h1>Hi, I'm Atha 👋</h1>
            <p class="tagline">Fullstack Developer</p>
            
            <p class="description">
            Fresh graduate di bidang Sistem Komputer dengan minat pada pengembangan web dan data analytics. 
            Berpengalaman membangun projek IoT, Troubleshoot hardware, aplikasi web, dashboard interaktif, dan sistem berbasis database.
            Senang belajar teknologi baru dan berkolaborasi dalam tim untuk menciptakan solusi inovatif.
            </p>

            <div class="info-list">
                <div class="info-item">
                    <span class="icon">📍</span> Depok, Sawangan, Indonesia
                </div>
                <div class="info-item">
                    <span class="status-dot"></span> Available for new projects
                </div>
            </div>

            <div class="hero-buttons">
                <a href="https://wa.me/087718047671" class="btn-talk">
                    <img src="/img/whatsapp.png" alt="" width="20"> Let's Talk
                </a>
                <a href="https://drive.google.com/file/d/16lCGuSxdUup2XTU0rpc5PSPJhbA0hy8B/view" 
                class="btn-cv" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-file"></i> 
            <span>CV</span>
                </a>
            </div>
        </div>
    </div>
</section>