<nav class="navbar-container">
    <div class="nav-left">
        <a href="/" class="logo-box">ATHA</a>
    </div>

    <div class="nav-right">
        <ul class="nav-links">
            <li><a href="#tech-stack">Tech Stack</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
        </ul>

        <div class="nav-buttons">
    <a href="https://wa.me/087718047671" class="btn-talk" target="_blank">
        <i class="fab fa-whatsapp"></i> 
        <span>Let's Talk</span>
    </a>
    
    <a href="https://drive.google.com/uc?export=download&id=1zn4p6gnJdH7AgJeD4pb_Dz57-HzyPQdE" 
                class="btn-cv" 
            download>
        <i class="fas fa-file-download"></i> 
        <span>CV</span>
    </a>

    <button id="theme-toggle" class="theme-btn" aria-label="Toggle Theme">
        <i id="theme-icon" class="fas fa-moon"></i>
    </button>
</div>
    </div>
</nav>